#main {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 600px;
    height: 600px;
    position: relative;
    left: 400px;
    border-radius: 20px;

}
p{
    padding: 5px;
}
.name , .city, .gender, .email, .city, .license, .dob{
    text-align:left;
    margin-left: 60px;
    margin: 5px;
}
/* .city{
    text-align:left;
    margin: 5px;

} */

h1{
    color: white;
    background-color: gray; 
    -webkit-text-stroke-color: 4px black;
}
body {
    margin: 0px ,auto;
    background-image: url(images/dl.jpg);
    background-size: cover;
    background-size: center;
    
}
.heading{
    width: 600px;
    border-radius: 20px;
}
/* .gender{
    text-align:left;
    margin: 5px;
} */